<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Promaks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            {#            <form class="d-flex mx-3">#}
            {#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
            {#                <button class="btn btn-outline-success" type="submit">Search</button>#}
            {#            </form>#}
            <ul class="navbar-nav mb-lg-0  ml-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ user.get_role_display|default:request.user.username }}
{#                        <i class="bi bi-person-circle"></i> {{ user.get_full_name }}#}
{#                        <span class="badge bg-secondary">{{ user.get_role_display }}</span>#}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Админ-панель</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'users:profile' %}"> <i class="bi bi-person"></i>Мой профиль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">
                                <i class="bi bi-box-arrow-right"></i> Выйти
                            </a>

                        {% else %}
                            <li>
                                <a class="dropdown-item" href="{% url 'users:login' %}">
                                    <i class="bi bi-box-arrow-in-right"></i>
                                    <i class="nav-icon fas fa-fw fa-sign-in-alt" style="color: #000"></i>
                                    Вход
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="bi bi-person-plus"></i> Регистрация
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>